html {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    font-family: monospace;
    font-weight: bold;
    background-size: cover;
    background: url(assets/pixelart.gif) center center no-repeat fixed;
}

div h1{
    text-align: center;
    margin: 10px 0;
}
table, td, th{
    border: solid black 1px;
    border-collapse: collapse;
    padding: 1vw;
}
details > summary {
    cursor: pointer;
    list-style: none;
}
div{  
    padding: 1vw;
    border: solid 2px;
    border-radius: 20px;
    background-color: gray;
    font-size: 2vw;
    margin: 10px 0;
}